:root{
  --p-font-size-1: 0.75rem;
  --p-font-size-2: 1rem;
  --p-font-size-12: 1.75rem;
  --p-font-size-13: 2.625rem;
}

.total-data{
  font-size: var(--p-font-size-12);
  line-height: var(--p-line-height-5);
  display: flex;
  justify-content: space-between;
}

.card-subtitle{
  font-size: var(--p-font-size-1);
  margin: 10px 0px;
  text-align: left;
}

.conversion-data-row{
  display: flex;
  flex-direction: column;
}
.conversion-data-item{

}
.conversion-data-session{

}
